{% extends 'master/base.html' %}

{% block body %}
  <h1>All Blog Posts</h1>
  {% include 'messages.html' %}

  <div class="mb-4">
    <a href="{% url 'blog_add' %}" class="btn btn-success">Add New Blog</a>
  </div>

  <div class="mb-4">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Blog Image</th>
          <th>Title</th>
          <th>Name of Author</th>
          <th>Category</th>
          <th>Date of Publish</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for b in blog %}
          <tr>
            <td>
              <img src="/{{ b.blog_image }}" alt="" width="80px" height="80px" />
            </td>
            <td>{{ b.title }}</td>
            <td>{{ b.author_name }}</td>
            <td>{{ b.category }}</td>
            <td>{{ b.publish_date }}</td>
            <td>
              <a href="{% url 'blog_edit' b.id %}" class="btn btn-info">Edit</a>
              <a href="{% url 'blog_delete' b.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
